extends base

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(type="text" name="username" placeholder="Username" required)
    input(type="password" name="password" placeholder="Password" required)
    input(type="submit" value="Login")
    a(href="https://github.com/login/oauth/authorize?client_id=acf60c0852f8bf336da2&allow_signup=false") Continue with GitHub &rarr;
  hr
  div
    span Don't have an account?
    a(href="/join") Create one now &rarr;